<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Astro Hor&oacute;scopo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<header>
	<h1 class="text-center">Astro Hor&oacute;scopo</h1>
</header>

<main>
	<div class="d-flex flex-row justify-content-center">
	  <div class="p-2"><a href="/horoscope/lp/Aries"><label class="text-center sign-label">Aries</label><img src="/images/aries.png" class="rounded float-left" alt="Aries"></a></div>
	  <div class="p-2"><a href="/horoscope/lp/Tauro"><label class="text-center sign-label">Tauro</label><img src="/images/tauro.png" class="rounded float-left" alt="Tauro"></a></div>
	  <div class="p-2"><a href="/horoscope/lp/Geminis"><label class="text-center sign-label">Geminis</label><img src="/images/geminis.png" class="rounded float-left" alt="Geminis"></a></div>
	</div>
	<div class="d-flex flex-row justify-content-center">
	  <div class="p-2"><a href="/horoscope/lp/Cancer"><label class="text-center sign-label">Cancer</label><img src="/images/cancer.png" class="rounded float-left" alt="Cancer"></a></div>
	  <div class="p-2"><a href="/horoscope/lp/Leo"><label class="text-center sign-label">Leo</label><img src="/images/leo.png" class="rounded float-left" alt="Leo"></a></div>
	  <div class="p-2"><a href="/horoscope/lp/Virgo"><label class="text-center sign-label">Virgo</label><img src="/images/virgo.png" class="rounded float-left" alt="Virgo"></a></div>
	</div>
	<div class="d-flex flex-row justify-content-center">
	  <div class="p-2"><a href="/horoscope/lp/Libra"><label class="text-center sign-label">Libra</label><img src="/images/libra.png" class="rounded float-left" alt="Libra"></a></div>
	  <div class="p-2"><a href="/horoscope/lp/Escorpio"><label class="text-center sign-label">Escorpio</label><img src="/images/escorpio.png" class="rounded float-left" alt="Escorpio"></a></div>
	  <div class="p-2"><a href="/horoscope/lp/Sagitario"><label class="text-center sign-label">Sagitario</label><img src="/images/sagitario.png" class="rounded float-left" alt="Sagitario"></a></div>
	</div>
	<div class="d-flex flex-row justify-content-center">
	  <div class="p-2"><a href="/horoscope/lp/Capricornio"><label class="text-center sign-label">Capricornio</label><img src="/images/capricornio.png" class="rounded float-left" alt="Capricornio"></a></div>
	  <div class="p-2"><a href="/horoscope/lp/Acuario"><label class="text-center sign-label">Acuario</label><img src="/images/acuario.png" class="rounded float-left" alt="Acuario"></a></div>
	  <div class="p-2"><a href="/horoscope/lp/Piscis"><label class="text-center sign-label">Piscis</label><img src="/images/piscis.png" class="rounded float-left" alt="Piscis"></a></div>
	</div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>